*{
  box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: 'Open', sans-serif;
    margin: 0;
    width: 100vw;
    background: #F5F5F5;
}

.cabecalho{
    display: flex;
    width: 100vw;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.centro{
    width: 1160px;
    display: flex;
    justify-content: space-between; 
     
}



.cabecalho div ul{
    list-style-type: none;
    width: 223px;
    height: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: #545454;
    

}

.cabecalho ul a{
    text-decoration: none;
    color: #545454; 
}

.cabecalho ul a:hover{
    text-decoration: none;
    color:  #FE0078;
    cursor: pointer;
    
}

.noticias{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
    align-self: center;
}

.noticias article{
    display: flex;
    flex-direction: column;
    font-size: 24px;
}



.post{
    width: 730px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    
}

.button-container{
    padding: 0 24px 24px 24px;
    display: flex;
    flex-direction: column;
}

.noticias div:first-child{
    margin-top: 0;
}

.noticias h1{
    font-size: 24px;
    color: #000000;
    padding: 0;
    margin: 24px;
}

.noticias .info{
    font-size: 12px;
    color: #929292;
    padding: 0;
    margin: 0 24px 24px 24px;
}

article p{
    font-size: 14px;
    color: #545454;
    
}

article div>ul{
    font-size: 14px;
    color: #545454;

  }

.noticias article .post button{
    
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 20px;
    width: 154px;
    height: 43px;
    font-size: 14px;
    line-height: 19px;
    color: #545454;
    background: #FFFFFF;
    align-self: flex-end;
    margin-top: auto;
    
}

.noticias article .post button:hover{
    background:  #FE0078;
    color:  #FFFFFF;
    cursor: pointer;
}

nav{
    width: 380px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    align-self: flex-start;
}

nav input{
    width: 340px;
    height: 52px;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 17px 20px;
}

nav input:hover, nav input:focus{
    border: 1px solid #FE0078;
    outline: none;
    cursor: pointer;
}


.categoria h1, .propaganda h1{
    border-left: 2px solid #FE0078;
    font-size: 18px;
    color: #000000;
    margin: 25px 0 40px 0;
    padding: 9px 0 9px 11px;

}

.categoria ul{
    padding: 0;
}

.categoria ul li{
    list-style-type: none;
    width: 340px;
    height: 35px;
    border-bottom: 2px dashed #EEEEEE;
    background: #FFFFFF;
    margin-top: 16px;
    color: #545454;
}

.categoria ul li:first-child{
    margin-top: 0;
}

.categoria a{
    display: flex;
    justify-content: space-between;
    
}

.categoria li:hover{
    border-bottom: 2px dashed  rgba(254, 0, 120, 1);
    color: #FE0078;
    cursor: pointer;
}


.categoria span{
    font-size: 14px;
    
}

.banner div{
    width: 340px;
    height: 240px;
    background: #EEEEEE;
    font-size: 36px;
    color: #545454;
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.propaganda div:first-child{
    margin-top: 0;
}

.propaganda .banner{
    margin-top: 41px;
}


footer div{
    width: 100vw;
    height: 70px;
    background: #222222;
    color: #FFFFFF;
    margin-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* -------------Após Continuar Lendo - Página dos Posts ---------------*/


.comentarios{
    display: flex;
    flex-direction: column;
}

.comentarios .dados{
    display: flex;
    justify-content: space-between;
}

.comentarios .dados .nome, .comentarios .dados .email{
    display: flex;
    flex-direction: column;
}

.comentarios input{
    width: 340px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 2px;
}

.comentarios input:hover, .comentarios input:focus, .comentarios textarea:hover, .comentarios textarea:focus{
    border: 1px solid #FE0078;
    outline: none;
    cursor: pointer;
}

.comentarios textarea{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-radius: 2px;
    resize: none;
}

.comentarios label{
    margin-top: 24px;
    font-size: 14px;
}

.comentarios h1{
    margin: 56px 0 0 0;
    font-size: 24px;
}

.comentarios button{
    margin-top: 48px;
    border: 1px solid #FE0078;
    box-sizing: border-box;
    border-radius: 20px;
    width: 154px;
    height: 43px;
    font-size: 14px;
    background:  #FE0078;
    color:  #FFFFFF;
    align-self: flex-end;
    
}

.comentarios button:hover{    
    color: #545454;
    background: #FFFFFF;
    cursor: pointer;
}


/* ----------PÁGINA PARA ENTRAR EM CONTATO------------ */


.container-contatos{
    width: 1160px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    margin-top: 56px;
    
}

.container-contatos article{
    width: 730px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    padding: 24px;
    align-self: flex-start;
}

.endereco, .telefone, .suporte{
    display: flex;
}

.contato img{
    width: 20px;
    height: 20px
}

.conatiner-contatos .contato h1{
    margin: 0;
    font-size: 24px;
}

.contato h1{
    font-size: 24px;
    margin-top: 0;
}
.contato h2{
    margin-top: 32px;
    font-size: 16px;
}
.contato h3{
    margin: 0 0 0 8px;
    font-size: 14px;
}

.comentarios h2{
    margin-top: 40px;
    font-size: 16px;
}

.assunto{
    display: flex;
    flex-direction: column;
}

.assunto input{
    width: 100%;
    height: 42px;
}
